<html lang="pt">
    <%- include('./parciais/head.ejs') %>
    
    <body>
       
        <%- include('./parciais/nav.ejs') %>

        <div class="Conteúdo Nao-encontrado">
            OOPS, Página não encontrada :(
        </div>
        
    </body>
</html>