<html lang="pt">
    <%- include('./parciais/head.ejs') %>
    
    <body>
       
        <%- include('./parciais/nav.ejs') %>

        <div class="Conteúdo Sobre">
            <h2>Sobre nós</h2>
            <p>Lorem ipsum dolor, sit amet etc etc etc</p>
            <p>Lorem ipsum dolor, sit amet etc etc etc</p>
            <p>Lorem ipsum dolor, sit amet etc etc etc</p>
        </div>
        
        <%- include('./parciais/footer.ejs') %>
        
    </body>
</html>