<nav>
    <div class="Título-Site">
        <a href="/"><h1>Página Inicial</h1></a>
        <p>Meu primeiro Site</p>
    </div>
    <ul>
        <li><a href="/">Conteúdo</a></li>
        <li><a href="/sobre">Sobre nós</a></li>
        <li><a href="/conteudo/criar">Novo conteúdo</a></li>
    </ul>
</nav>